body {
 font-family: Arial, sans-serif;
}

header {
 background-color: #333;
 color: #fff;
 padding: 1em;
 text-align: center;
}

main {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 2em;
}

section {
 background-color: #f7f7f7;
 padding: 1em;
 margin-bottom: 1em;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mapa-interactivo {
 width: 100%;
 height: 300px;
 background-color: #ccc;
}

#glosario-contenido {
 display: none;
}

#actividad-contenido {
 width: 100%;
 height: 300px;
 background-color: #ccc;
}